.rounded-circle {
  box-shadow: 0.2rem 0.3rem rgba(0, 0, 0, 0.26);
  margin-bottom: 2.5rem;
  border: 0.3rem white solid;
}
#about {
  background-color: #07282f;
}
#projects {
  background-color: #f1125c;
}
section {
  padding-top: 5rem;
}
.sectioncontact {
  padding-top: 0;
}
p {
  text-indent: 30px;
  text-align: justify;
}
.col {
  margin-bottom: 3rem;
}
.slider-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 20px auto -10px auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.slider {
  transition: transform 0.5s ease-in-out;
  white-space: nowrap;
  font-size: 0;
}

.slide {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.slide img {
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
button.nextslide,
button.prevslide {
  position: absolute;
  border-radius: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0.497);
  cursor: pointer;
  padding: 5px;
  margin: 1px;
  font-size: 16px;
  color: #555;
  transition: color 0.3s;
  top: 43%;
  transform: translateY(-43%);
}
button.prevslide {
  left: 3rem;
}

button.right {
  right: 3rem;
}

button.nextslide:focus,
button.prevslide:focus {
  outline: none;
}

button.nextslide:hover,
button.prevslide:hover {
  color: #007bff;
}
button.nextslide svg,
button.prevslide svg {
  width: 50px;
  height: 30px;
}
.display-5,
.fw-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fs-4 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.navbar-brand {
  font-family: "Chokokutai", system-ui;
  font-weight: 400;
  font-style: normal;
}
.navbar-brand2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nav-link {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nav-link:hover {
  color: rgb(255, 247, 0);
}
.subbab {
  font-family: "Reem Kufi Fun", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
}
.card {
  background-color: black;
  padding: 0.5em;
  box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.26);
}
.card-body {
  color: white;
  font-family: "Edu AU VIC WA NT Pre", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

#slidecard {
  position: relative;
  overflow: hidden;
}
#slideshow .card {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.arrow {
  cursor: pointer;
  position: absolute;
  width: 0;
  height: 0;
  border-style: groove;
  margin-top: -13em;
}
#arrow-left {
  border-width: 20px 30px 20px 0;
  border-color: transparent #3507b3 transparent transparent;
  margin-left: 1em;
  left: 0;
}

#arrow-right {
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #3507b3;
  margin-right: 1em;
  right: 0;
}
#slideshow2 .card {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
#arrow-left2 {
  border-width: 20px 30px 20px 0;
  border-color: transparent #3507b3 transparent transparent;
  margin-left: 1em;
  left: 0;
}

#arrow-right2 {
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #3507b3;
  margin-right: 1em;
  right: 0;
}
#slideshow3 .card {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
#arrow-left3 {
  border-width: 20px 30px 20px 0;
  border-color: transparent #3507b3 transparent transparent;
  margin-left: 1em;
  left: 0;
}

#arrow-right3 {
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #3507b3;
  margin-right: 1em;
  right: 0;
}
#slideshow4 .card {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
#arrow-left4 {
  border-width: 20px 30px 20px 0;
  border-color: transparent #3507b3 transparent transparent;
  margin-left: 1em;
  left: 0;
}

#arrow-right4 {
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #3507b3;
  margin-right: 1em;
  right: 0;
}
#slideshow5 .card {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
#arrow-left5 {
  border-width: 20px 30px 20px 0;
  border-color: transparent #3507b3 transparent transparent;
  margin-left: 1em;
  left: 0;
}

#arrow-right5 {
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #3507b3;
  margin-right: 1em;
  right: 0;
}
#slideshow6 .card {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
#arrow-left6 {
  border-width: 20px 30px 20px 0;
  border-color: transparent #3507b3 transparent transparent;
  margin-left: 1em;
  left: 0;
}

#arrow-right6 {
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #3507b3;
  margin-right: 1em;
  right: 0;
}
.card-title {
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Luckiest Guy", serif;
  font-weight: 200;
  font-style: normal;
}
.bab {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.26);
}

.end {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.26);
}
.end i {
  margin-left: -2em;
  padding: 1em;
}
.card-text {
  font-family: "Voltaire", serif;
  font-weight: 100;
  font-style: normal;
}
.linkprojek a {
  font-family: "Passion One", serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  text-align: center;
}
.sosialmedia a{
  padding: 0.2em;
  font-size: 1.3em;
}
@media (max-width: 575.98px) {
  svg {
    margin-bottom: -0.1em;
  }
}
@media (max-width: 991.98px) {
  svg {
    margin-bottom: -0.1em;
  }
}
@media (max-width: 1199.98px) {
  svg {
    margin-bottom: -0.1em;
  }
}
@media (max-width: 459px) {
  .end {
    font-size: x-small;
}
}